<section class="products-index">

  <header class="page-header">
    <h1>Products</h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>

<%# reder @products, an Array, convention, it renders each one of them, render partial, pass the each product into the  %>